{% load static %}
{% load cart_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Meow Shop{% endblock %}</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
</head>
<body>
<div id="header">
    <ul><img src="{% static 'main/img/paws.svg' %}" id="paws"><a href="{% url 'shop:main' %}" class="logo">Meow Shop</a></ul>
<!--    <ul><form action="" method="get"><input type="search" class="search-bar" placeholder="Я ищу..." value aria-label="search" maxlength="100"></form></ul>-->
    <ul><button id="cartBtn">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            <a href="{% url 'cart:cart_detail' %}" class="cart"><img src="{% static 'main/img/cart.svg' %}">
                {{ total_items }} {{ total_items|ru_plural:"товар,товара,товаров" }},
                {{ cart.get_total_price }} ₽
            </a>
        {% else %}
            <a href="{% url 'cart:cart_detail' %}" class="cart"><img src="{% static 'main/img/cart.svg' %}"></a></button>
        {% endif %}
    {% endwith %}</button>
<!--        <button id="accBtn"><a href="{% url 'shop:account' %}" class="account">Аккаунт</a></button></ul>-->
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>Meow Shop ©2024.</p>
</footer>
</body>
</html>