{% extends "main/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %} class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}Товары категории {{ category.name }}{% else %}Все товары{% endif %}</h1>
        <div class="products-container">
            {% if products %}
                {% for product in products %}
                    <div class="product-container">
                        <a href="{{ product.get_absolute_url }}"><img class="loadedPhoto" src="{{ product.cover.url }}"></a>
                        <h3>{{ product.name }}</h3>
                        <a>{{ product.price }} ₽</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нет предложений по заданному фильтру</p>
            {% endif %}
        </div>
    </div>
{% endblock %}